{
  "importOrder": [
    "^api",
    "^(components|styles|pages)",
    "^public",
    "^(store|hooks|const)",
    "^(context|services|utils)",
    "^types",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "endOfLine": "lf"
}
